<div class="d-flex justify-content-center">
  <div *ngIf="!phase_1" class="container d-flex justify-content-center p-5">
    <div class="row">
      <div class="col-lg-6">
        <h4 class="border-bottom">كاميرات مراقبة</h4>
        <ul class="d-flex justify-content-between">
          <li><p class="decre">أخر سعر للمزايدة : 3800</p></li>
          <li><a class="decre">المزايدات السابقة</a></li>
        </ul>
        <div class="row mb-3">
          <div class="col-6">
            <button class="form-control w-100 btn1">قم بالمزايدة</button>
          </div>
          <div class="col-6">
            <button class="form-control w-100 btn2">
              إضافة الي القائمة المفضلة
            </button>
          </div>
        </div>
        <p>
          وأوضح مكتب التنسيق أن تسجيل رغبات الطلاب الحاصلين على الشهادات الفنية
          بالمرحلة الخاصة بهم من خلال موقع التنسيق الإلكتروني على شبكة الإنترنت
          في الفترة من يوم الثلاثاء الموافق 3/9/2024 ولمدة 16 يومًا انتهت اليوم
          الأربعاء الموافق 18/9/2024، وقد بلغ عدد الطلاب الذين تم ترشيحهم من
          خلال هذه المرحلة (284224) طالبًا وطالبة.
        </p>
        <ul class="d-flex justify-content-between">
          <li><span>حالة المنتج : </span> جديد</li>
          <li><span>أفل من السوق : </span> ب 2.5 في المية</li>
          <li><span>تاريخ الإعلان : </span> 23/04/2024</li>
        </ul>
      </div>
      <div class="col-lg-6 d-flex justify-content-center">
        <img src="../../assets/camera_1.jpg" class="w-50" />
      </div>
    </div>
  </div>
  <div *ngIf="!phase_2" class="container d-flex justify-content-center p-5 w-100">
    <div>
      <h2>المزايدات السابقة</h2>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>أسم المزايد</th>
            <th>السعر</th>
            <th>الوقت</th>
            <th>التاريخ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>محمد عادل خالد السيد أحمد</td>
            <td>38000</td>
            <td>23:44</td>
            <td>24-9-2024</td>
          </tr>
          <tr>
            <td>2</td>
            <td>محمد عادل</td>
            <td>38000</td>
            <td>23:44</td>
            <td>24-9-2024</td>
          </tr>
          <tr>
            <td>3</td>
            <td>محمد عادل</td>
            <td>38000</td>
            <td>23:44</td>
            <td>24-9-2024</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
