.tender-details {
  background: #f8f8f8;
  padding: 16px;
  border-radius: 8px;
  border: 1px;
}
p {
  margin-bottom: 0;
  color: #666666;
}
.all-tenders {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Auto-fit adjusts based on container size */
  gap: 15px;
  padding: 20px; /* Optional padding to space out content inside the container */
  box-sizing: border-box; /* Ensures padding and border are included in element width/height */
}
@media (max-width: 768px) {
  .all-tenders {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .all-tenders {
    grid-template-columns: 1fr; /* Single column layout on small devices */
    gap: 5px;
  }
}

.more-details {
  background-color: #111d33;
  border-radius: 15px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.more-details p{
  color: #ffffff;
}
.addFavo{
  cursor: pointer;
}
@media screen and (max-width:800px) {
  .all-tenders {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
.terms-condations {
  color: #ffffff;
  width: 160px;
  background-color: #111d33;
  border-radius: 15px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  float: left;
}

ul {
  margin-bottom: 0;
}
label {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 0 5px;
  color: #999;
  font-size: 0.9rem;
  transition: 0.2s;
}
input[readonly] {
  cursor: not-allowed;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  top: -10px;
  right: 10px;
  font-size: 12px;
  color: #333;
}
.Add_an_ad {
  // display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.add{
  background-color: #111d33;
  border-radius: 5PX;
  position: absolute;
  bottom: 15px;
  left: 15px;
  margin: 10px;
  color: #fff;
  padding: 10px 20px;
}

.close:hover {
  color: #bbb;
}
.lightbox-container {
  display: none;
  /* your lightbox styles */
}
.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}
#close{
  position: absolute;
  top: 100px;
  right: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
#close:hover {
  color: #bbb;
}
.lightbox-container .lightbox-item form button {
  background-color: #111d33;
  color: #fff;
}
.addFavo{
  cursor: pointer;
}
.card-icons {
  display: flex;
  gap: 10px;
}

.card-icons i {
  cursor: pointer;
  color: #333;
  font-size:20px ;
}

.card-icons i:hover {
  color: #007bff;
}
.limited-width {
  height: 35px; /* تثبيت الارتفاع */
}