<section class="setting">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-2">
        <div class="navbar">
          <ul>
            <li><a routerLink="editProfile">تعديل الملف الشخصي</a></li>
            <li><a href="#">الدعم الفني</a></li>
            <li><a href="#">الاحكام والشروط</a></li>
            <li><a href="#">الأسئلة المتكررة</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-9 col-md-10 p-5"> 
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>

