.all-Technicians{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 22px;
}
.Technicians-card{
    border-radius: 20px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}
.Technicians-card img{
    border-radius: 25px;
}
.Technicians-card ul li{
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}
.Technicians-card ul li i{
    padding-top: 5px;
    font-size: 20px;
    color: #111D33;
}
.Technicians-card ul li span{
    font-size: 20px;
}
.container h1{
    text-align: center;
    padding: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.container .line1{
    background-color: #111D33;
    width: 190px;
    height: 3px;
    margin: auto;
}
.container .line2{
    background-color: #111D33;
    width: 100px;
    height: 3px;
    margin: auto;
}
.container .line3{
    background-color: #111D33;
    width: 50px;
    height: 3px;
    margin: auto;
}
.btn-success{
    background-color: #111D33;
}
@media (max-width: 768px) {
    .all-Technicians {
        grid-template-columns: 1fr; /* Adjust to single column for mobile screens */
    }
}
.Add_an_ad {
    // display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .close:hover {
    color: #bbb;
  }
  .lightbox-container {
    display: none;
    /* your lightbox styles */
  }
  .d-flex {
    display: flex !important;
  }
  
  .d-none {
    display: none !important;
  }
  #close {
    position: absolute;
    top: 100px;
    right: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  #close:hover {
    color: #bbb;
  }
  .lightbox-container .lightbox-item form button {
    background-color: #111d33;
    color: #fff;
  }
  .add {
    background-color: #111d33;
    border-radius: 5px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    margin: 10px;
    color: #fff;
    padding: 10px 20px;
  }
  .addFavo {
    cursor: pointer;
  }
  .para{
    text-align: center;
    color: #fff;
    font-size: 13px;
  }
  .image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #00BFFF;
    cursor: pointer;
    object-fit: cover;
  }
  
  #username {
    color: white;
    margin-top: 10px;
    font-size: 18px;
  }