<section>
  <app-mainheader></app-mainheader>
  <div class="main container">
    <div class="x container">
      <div class="row">
        <div class="col-sm-6">
          <h3>عرض لفترة محدودة</h3>
          <p>اشترك وشوف عروضك المناسبة عندنا <br> هتلاقي اللي بتدور عليه.</p>
          <div class="Subscribe"><a href="#">اشترك الان</a></div>
        </div>
      </div>
    </div>
    <div class="service">
      <h1 class="py-2">خدماتنا</h1>
      <div class="all-service">
        <div class="service-content" routerLink="/projectRemain">
          <i class="fa-solid fa-hand-holding-usd mb-2"></i>
          <p>بواقي المشروع</p>
        </div>
        <div class="service-content">
          <i class="fa-solid fa-file-signature mb-2"></i>
          <p>الورقيات</p>
        </div>
        <div class="service-content" routerLink="/subcontract">
          <i class="fa-solid fa-hands-helping mb-2"></i>
          <p>مقاولات من الباطن</p>
        </div>
        <div class="service-content" routerLink="/publicTender">
          <i class="fa-solid fa-gavel mb-2"></i>
          <p>المناقصات العامة</p>
        </div>
        <div class="service-content" routerLink="/Technicians">
          <i class="fa-solid fa-user mb-2"></i>
          <p>الفيين</p>
        </div>
        <div class="service-content">
          <i class="fa-regular fa-newspaper"></i>
          <p>الجرائد الاسبوعيه</p>
        </div>
        <div class="service-content">
          <i class="fa-solid fa-print mb-2"></i>
          <p>ماسح ضوئي</p>
        </div>
      </div>
    </div>
  </div>
</section>
