<section>
    <app-mainheader></app-mainheader>
    <div class="p-4">
        <ul class="d-flex justify-content-between">
            <li><h2>تفاصيل المناقصة</h2></li>
            <li><i class="fa-solid fa-hourglass-start"></i> 20 الايام المتبقية</li>
            <li><i class="fa-solid fa-share-nodes"></i> <i class="fa-regular fa-heart me-3"></i></li>
        </ul>
        <a href="#" class="terms-condations">شراء كراسة الشروط</a>
        <div class="clearfix"></div>
    <br>
    <div class="row">
        <div class="col-lg-12 col-md-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="position-relative">
                        <input type="text" class="form-control w-100" value="عملية إصلاح وتوريد وتركيب قطع الغيار اللازمة والمطلوبة لسيارات الأوناش التابعة لإدارة المرور"  readonly>
                        <label>عنوان المناقصة</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="position-relative my-4">
                        <input type="text" class="form-control w-100" value="مناقصات عامة عملية اصلاح وتوريد وتركيب قطع الغيار اللازمة والمطلوبة لسيارات الاوناش التابعة لإدارة المرور - يزيد التامين النهائي 5% عند الرسوم - المزيد من التفاصيل بالملفات بالاسفل"  readonly>
                        <label>الوصف</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="position-relative my-4">
                        <input type="text" class="form-control w-100" value="شركة الصرف الصحي للقاهرة الكبري قطاع الشئون المالية"  readonly>
                        <label>المعلن</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="position-relative my-4">
                        <input type="text" class="form-control w-100" value="32 شارع رمسيس القاهرة"  readonly>
                        <label>العنوان</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="position-relative my-4">
                        <input type="text" class="form-control w-100" value="+(20) 01025591983"  readonly>
                        <label>الهاتف</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="position-relative my-4">
                        <input type="file"  class="form-control w-100" value=""  readonly>
                        <label>الملفات</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="position-relative my-4">
                                <input type="text" class="form-control w-100" value="2024-03-06"  readonly>
                                <label>تاريخ الطرح</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="position-relative my-4">
                                <input type="text"  class="form-control w-100" value="2024-4-21"  readonly>
                                <label>تاريخ لفتح</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="position-relative my-4">
                                <input type="text" class="form-control w-100" value="500 جنيها"  readonly>
                                <label> كراسة الشروط</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="position-relative my-4">
                                <input type="text"  class="form-control w-100" value="10200 جنيها"  readonly>
                                <label> التامين الابتدائي</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
        
    </div> 
</section>
